.container {
    width: 30%;
    margin-left: 4px;
    width: 106px;
    
}
.container-fluid {
    padding-left: 50px;
}
img{
    position: relative;
    
}

/* .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
    padding: 0%;
} */
form.d-flex {
    width: 50%;
    justify-content: center;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary {
    padding: 0 10% 0 10%;
}
div#navbarSupportedContent {
    padding: 0px 7%;
}
.carousel-item {
    height: 450px;
}

/* imagen carrucel*/
img.d-block.w-100 {
    height: 450px;
}

/*tarjetas*/




.container {
    position: relative;
}

.container .card {
    position: relative;
    width: 250px;
    height: 350px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}

.container .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ca1616;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container .card:after {
    content: "Luigy";
    position: absolute;
    top: 50%;
    left: 1%;
    font-size: 5em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);

}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.container .card:hover .imgBx {
    top: 0%;
    transform: translateY(-25%);
    /* bug  */
}

.container .card .imgBx img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(10deg);
    width: 200px;
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.container .card:hover .contentBx {
    height: 210px;
}

.container .card .contentBx h2 {
    position: relative;
    font-weight: 850;
    letter-spacing: 1px;
    color: #fff;
    font-size: 20px;
}

.container .card .contentBx .size,
.container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.container .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
    color: white;
    font-weight: 100;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBx .size span {
    width: 15px;
    height: 20px;
    text-align: center;
    line-height: 26px;
    font-size: 10px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: .5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contentBx .size span:hover {  /* other bug */
    background: #B90000;
}

.container .card .contentBx .color span {
    width: 15px;
    height: 15px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2) {
     background: #d40e0e;
}

.container .card .contentBx .color span:nth-child(3) {
     background: #1B2FE9;
}

.container .card .contentBx .color span:nth-child(4) {
     background: #000000;
}

.container .card .contentBx a {
    display: inline-block;
    padding: 5px 10px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
}

.container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
} 

/*media queries*/
@media (max-width: 768px){
    /* container-fluid {
        padding-left: 30px;
    } */

    .container, .container-md, .container-sm {
        max-width: 100%;
        flex-wrap: nowrap;
        display: flex;
        justify-content: center;
    }
    nav.navbar.navbar-expand-lg.bg-body-tertiary {
        flex-wrap: inherit;
    }
    .carousel-item {
        height: 350px;
    }
    img.d-block.w-100 {
        height: 350px;
    }
}
